[submodule "operating_system"]
	path = operating_system
	url = ../windows-operating_system
	branch = main
[submodule "port"]
	path = port
	url = ../windows-build-port-all
	branch = main
[submodule "source"]
	path = source
	url = ../lowland-source
	branch = main
